html {
  height: 100%;
}

body {
  background-color:black;
  color: darkred;
  font-size: 13px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

input {
  background-color: black;
  color: grey;
  border: none;
}

input:focus {
  outline: 0;
}

div:focus {
  outline: 0;
}

textarea:focus {
  outline: 0;
}

.container {
  width: 100%;
  height: 100%;
}

.logo-container {
}

.terminal-container {
  height: 100%;
}

.logo {
  font-family: Consolas, "Lucida Console", monospace;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 601px) {
  .logo {
    font-size: 13px;
  }
}

.blood-drop {
  opacity: 0.9;
}

.terminal {
  background-color: black;
  width: 100%;
  height: 100%;
  border: 0px;
}

.tArea {
  &::before { content:attr(data-prefix); color:lightgrey; }
  > span{ float:left; color:lightgrey; }
}

.terminal-text {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
  word-break: break-word;
}

.path {
  color: green;
}

.command {
  color: grey;
}

.command-start {
  color: lightgrey;
}

.git-up-to-date {
  color: lightgrey;
}
