body {
  background-color:black;
  color: darkred;
}

input {
  background-color: black;
  color: grey;
  border: none;
}

.logo {
  margin: 0;
}

.terminal-text {
  font-family:  Monaco, monospace;
}

.path {
  color: green;
}

.command {
  color: grey;
}

.command-start {
  color: lightgrey;
}

.git-up-to-date {
  color: lightgrey;
}

.terminal-marker {
  animation: blink-animation 1s steps(2, start) infinite;
  -webkit-animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.bloody-blink {
  animation: blinker 6s linear alternate infinite;
}

@keyframes blinker {
  from {
    color: darkred;
    opacity: 0.9;
  }
  to {
    color: darkred;
    opacity: 0.7;
  }
}