body {
  background-color:black;
  color: darkred;
}

input {
  background-color: black;
  color: grey;
  border: none;
}

input:focus {
  outline: 0;
}

.logo {
  margin: 0;
}

.blood-drop {
  opacity: 0.9;
}

.terminal-text {
  font-family:  Monaco, monospace;
  font-size: 12px;
}

.path {
  color: green;
}

.command {
  color: grey;
}

.command-start {
  color: lightgrey;
}

.git-up-to-date {
  color: lightgrey;
}
