body {
  background-color:black;
  color: darkred;
  font-size: 13px;
}

input {
  background-color: black;
  color: grey;
  border: none;
}

input:focus {
  outline: 0;
}

.logo {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 2vw;
  }
}

@media only screen and (min-width: 601px) {
  .logo {
    font-size: 13px;
  }
}

.blood-drop {
  opacity: 0.9;
}

.terminal-text {
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: 12px;
}

.path {
  color: green;
}

.command {
  color: grey;
}

.command-start {
  color: lightgrey;
}

.git-up-to-date {
  color: lightgrey;
}
